#screen {
  /* background-color: black; */
  /* background-color: white; */
  /* border: 1px solid black; */

  /* stretch it to full page */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container {
  /* border: 1px solid black; */
  /* background: white; */
  /* display: inline-block; */
  /* border-radius: 0.25rem; */
  /* padding: 1rem; */
  margin: 0;
  padding: 0;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px;
  /* background: white; */
  background: rgb(255, 255, 255, 0.8);
}

#title {
  margin: 8px;
  font-weight: bold;
}
#hamburger-button {
  font-size: x-large;
}

#extra-controls {
  margin-left: 1em;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid gray;
  padding: 4px 6px;
  font-weight: normal;
}

fieldset {
  display: inline-block;
  padding-bottom: 2px;
}

.radio label {
  margin-right: 5px;
  margin-left: -3px;
}

td {
  text-align: center;
}

tbody th {
  text-align: left;
}

.radio.disabled {
  color: lightgray;
}

.route-to-red {
  background: pink;
}

.route-to-green {
  background: lightgreen;
}

.route-to-blue {
  background: lightblue;
}

.hidden-element {
  display: none;
}

button {
  margin-right: 4px;
}

#add-buttons {
  margin-top: 4px;
}

#freq-col-header:hover,
#fm-col-header:hover,
#phase-col-header:hover,
#pm-col-header:hover,
#sync-col-header:hover,
#routing-col-header:hover {
  cursor: pointer;
}

.with-ellipsis:after {
  content: '...';
}
