#screen {
  /* background-color: black; */
  /* background-color: white; */
  /* border: 1px solid black; */

  /* stretch it to full page */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container {
  /* border: 1px solid black; */
  /* background: white; */
  /* display: inline-block; */
  /* border-radius: 0.25rem; */
  /* padding: 1rem; */
  margin: 0;
  padding: 0;
}

#ui {
  position: absolute;
  top: 0;
  /* top: 8px; */
  left: 0;
  /* left: 8px; */
  margin: 8px;
  background: white;
}

body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid gray;
  padding: 4px 6px;
}

fieldset {
  display: inline-block;
}

.radio label {
  margin-right: 5px;
  margin-left: -3px;
}

td {
  text-align: center;
}

.radio.disabled {
  color: lightgray;
}
.route-to-red {
  background: pink;
}

.route-to-green {
  background: lightgreen;
}
.route-to-blue {
  background: lightblue;
}
